.menu-link {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: rgb(64, 64, 64);
  border-right-color: rgb(64, 64, 64);
  border-top-color: rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 12px;
  height: 64px;
  line-height: 64px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  top: 1px;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
  transition-property: color, border-color, background, padding;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
  white-space: nowrap;
  width: 75px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-link:hover {
  background-color: rgb(16, 142, 233);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: rgb(64, 64, 64);
  border-right-color: rgb(64, 64, 64);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(64, 64, 64);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 12px;
  height: 64px;
  line-height: 64px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  top: 1px;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
  transition-property: color, border-color, background, padding;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
  white-space: nowrap;
  width: 75px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}